body {
    background-color: silver;
    margin: 0px;

}

nav a {
    /* color: aquamarine; */
    text-align: right;
}

li {
    display: inline;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: silver;

}

aside {
    background-image: url(./pexels-nadi-lindsay-4885892.jpg);
    padding: 110px;

}

h1 {
    color: white;
    display: flex;
}

h1 .top1 {
    margin: 0px;
}

.top1 {
    background-color: silver;
    justify-content: flex-start;
}

main p {
    text-align: right;
    gap: 5px;
    text-align: right;
    color: navy;

}

main section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 30vh;
    padding: 10px;

}

.subtitles {
    border-right: 5px solid black;
    text-align: center;

}

.row {
    height: 33%;
}

main h2 {
    color: navy;
    /* margin-bottom: 100px; */
}

div.top {
    text-align: left;
    font-size: x-large;
}

ul {
    text-align: right;
    display: flex;
    justify-content: space-between;
}